 {{> header }}
     
  <style>
        body        { padding-top:80px; }
    </style>
<body> 

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h2><span class="fa fa-sign-in"></span> Forgot Password</h2>  

    <!-- ForgotPassword FORM -->
    <form action="/forgotPassword" method="post">
        <h3>
            <label >{{forgotMessage}}</label>
        </h3>      
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
             <button type="submit" class="btn btn-warning btn-lg" >Reset Password</button>
    </form>
