{{> header }}

<style>
.body {
  background: brown;}
.container {
  width: 70%;
  margin: 0 auto;
}
</style>

<div class="container">
  <div class="jumbotron">
    <h1><font color="brown"><center> Welcome to Bloom, Terra</center></h1>
    <h2><center><font color="green"><i>A collective movement towards a greener future</i></center></h2><font color="black">
    <center><p>Introducing a system that encourages humanity to bring back biodiversity. Pick a section of land and plant lost species to encourage the return of animals and ecological growth! Our home is suffering. Earth is experiencing a massive loss in biodiversity, variation of species, and an alarmingly fast rate of deforestation. Many of us believe we alone cannot change the fate of our habitat but what if we could do it together?</p></center>
    <p>At Bloom, Terra you can</p>
    <ul>
	<li>  Create your own personal "Blooms" (planting project). Plant in your yard, a damaged forest, or anywhere you want to biodiversity return!
	<li>  Create community "Blooms" and get other intrested parties in your area to help on major projects, like replanting after a forest fire.
	<li>  View an interactive map and see thousands of other Blooms from across the world.
    </ul>
    <div>
    <center>
    <p>You'll get customized recommendations on what to plant in your location, with suggestions on how to care and nurture your Blooms.  You can follow other Blooms that are popular or trending, communicate with other Bloom, Terra users from all around the globe, and so much more.</p>	
    <p>Join the ecological revolution now!<p/> 
    <a href="/login" class="btn btn-info" role="button">Login</a>   or   <a href="/signup" class="btn btn-info" role="button">Sign Up</a>
    </center>
    </div>
   </div>
</div>
